html, body {
  height: 100%;
}

.App {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: rgb(119, 160, 95);
}

.Header {
  background-color: rgb(49, 49, 49);
  color: aliceblue;
  font-size: larger;
  margin-bottom: 50px;

  display: flex;
  align-self: stretch;
  justify-content: left;
}

.PostText {
  background-color: whitesmoke;
  border-radius: 6px;
  padding: 10px 30px;
  margin-bottom: 50px;
}

.CamBox {
  display: flex;
  flex-wrap: wrap;
  border: 0.5px solid lime;
}

.CamView {
  margin: 20px;
}

.CamView img {
  height: 225px;
  min-height: 200px;
}