html, body {
  height: 100%;
  display: flex;
  flex-direction: column;
}

.App {
  background-color: magenta;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-wrap: wrap;

  background-color: cadetblue;
}

.Header {
  background-color: rgb(49, 49, 49);
  color: aliceblue;
  font-size: larger;

  display: flex;
  align-self: stretch;
  justify-content: left;
}

.CamBox {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;

  border: 0.5px solid lime;
}

.CamView {
  margin: 20px;
}